

<%= render 'admin/mailinglists/tabs' %>
<h2 class="title">
  메일링리스트 전송내역 목록
</h2>


<table class="table table-striped">
  <thead>
    <tr>
    <th class="first">#</th>
    <th>제목</th>
    <th class="last">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @mailingtemplates.each_with_index do |mailingtemplate, index| %>
    <tr>
      <td class="span1"><%= mailingtemplate.vol %></td>
      <td>
        <%= mailingtemplate.title %><br/>
        <%= truncate(simple_format(mailingtemplate.description), :length => 100) %>
      </td>
      <td></td>
    </tr>
  <% end %>
</tbody></table>