<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="active first"><%= link_to '메일링 리스트 가입자', admin_mailinglists_path %></li>
    <li><%= link_to '메일링 리스트 템플릿', admin_mailingtemplates_path %></li>
    <li><%= link_to '메일링리스트 보내기', new_admin_mailinglist_path %></li>
  </ul>
</div>