<ul class="nav nav-tabs">
  <% if params[:action] == 'index' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>   
  <%= link_to '이벤트 목록', admin_events_path %></li>
  
  <% if params[:action] == 'edit' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>  
  <%= link_to '새 이벤트 생성', new_admin_event_path %></li>
</ul>