<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="active first"><%= link_to '뉴스 목록', admin_news_index_path %></li>
    <li><%= link_to '새 뉴스 생성', new_admin_news_path %></li>
  </ul>
</div>