<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% attachments.inline.each do |inline| %>
      <div>
        <%= image_tag inline.url %>      
      </div>
    <% end %>  
    
    <div>
      <%= raw(@template.description)%>
    </div>
  </body>
</html>
