<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="active first"><%= link_to '소개 내용', admin_informations_path %></li>
    <li><%= link_to '소개 내용 수정', edit_admin_information_path(@information) %></li>
  </ul>
</div>