/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/

::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

	}
/*-------------------------------------------------*/



body { height:100%;	background-color:#FFF; font-size:12px;  font-family: "Trebuchet MS", "Lucida Grande", "Tahoma","Helvetica","Arial", "hiragino kaku gothic pro", "Malgun Gothic", "나눔고딕", "NanumGothic" , "NanumGothicOTF", "Dotum", sans-serif;  *font-family:dotum, 돋움, sans-serif; color: #444; overflow-x:hidden; }
a { text-decoration:none; }
ul { list-style:none; }

input, select, textarea { font-family: "Trebuchet MS", "Lucida Grande", "Tahoma","Helvetica","Arial", "hiragino kaku gothic pro", "Malgun Gothic", "나눔고딕", "NanumGothic" , "NanumGothicOTF", "Dotum", sans-serif; *font-family:dotum, 돋움, sans-serif; color: #444; }

div.CB { clear:both !important; width:100%; height:0px; overflow:hidden; }

.dpNone { display:none; }


/* Layout */

	#bodyWrap { width:960px; margin:0 auto; }
	#contentWrap { width:100%; position:relative; }

	/* Header */
	#header { width:100%; position:relative; }

	/* Footer */
	#footer { width:100%; position:relative; }
	.footerColumn { width:320px; float:left; position:relative;  }
	.footerColumn .bar { height:20px; padding:5px 10px; position:relative; border-right:1px solid #fff; background:#fff200; }
	.footerColumn .bar h4 { font-size:14px; color:#555;  }
	.footerColumn .bar a.linkOld { font-size:14px; color:#555; padding-left:20px; background-image:url(../images/up_btn.png); background-position:0 0; background-repeat:no-repeat;  }
	.footerColumn .bar a.linkOld:hover { background-position:0 -16px; }
	.footerColumn .bar a.upBtn { display:block; overflow:hidden; text-indent:-9999px; height:30px; width:29px; background-image:url(../images/up_btn.png); background-position:0 0;   }
	.footerColumn .bar a.upBtn:hover {  background-position:0 -30px; }
	.footerColumn .content { height:30px; padding:10px; }
	.footerColumn .desc { font-size:12px; color:#666; padding:10px; }
	.footerColumn .copyright { text-align:right; }

/* Contents */




