<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="active first"><%= link_to '전시 목록', admin_exhibitions_path %></li>
    <li><%= link_to '새 전시 생성', new_admin_exhibition_path %></li>
  </ul>
</div>