<ul class="nav nav-tabs">
  <% if params[:action] == 'index' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>   
  <%= link_to '전시 목록', admin_exhibitions_path %></li>
  
  <% if params[:action] == 'edit' %>
    <li class="active">
  <% else %>
    <li>
  <% end %>  
  <%= link_to '새 전시 생성', new_admin_exhibition_path %></li>
</ul>