
		<div class="CB"></div>
	</div>


	<div id="footer">
		<footer>
		<div class="footerFullColumn">
		  <div style="float:right">
  		  <ul>
  		    <li>
  		      <%= link_to '토탈미술관 페이스북', 'https://www.facebook.com/totalmuseumofcontemporaryart', :class => 'snsBtn facebook', :target => '_blank' %>
      		  <%= link_to '토탈미술관 트위터', 'http://twitter.com/totalmuseum', :class => 'snsBtn twitter', :target => '_blank' %>
      		  <div class="CB"></div>
    		  </li>
    		  <li>
    		    <%= link_to 'blog', 'http://blog.naver.com/totalmuseum', :target => '_blank', :class => 'HV' %>
    		  </li>
<!--     	    <li>
      		  <%= link_to 'mailing list', '#', :class => 'HV', :id => 'mailing_list_join_btn' %>
    	    </li> -->
    	    <li style="border:none">
    	        (c) Total Museum of Contemporary Art.
    	    </li>
    	  </ul>
  	  </div>
		  <div class="CB"></div>
		</div>
		<div class="CB"></div>
		</footer>
	</div>

</div>
<script>
  $(document).ready(function(e){
    TMCA.views.mailing_list_view();
  });
</script>